<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="footer__about">
					<div class="footer__logo">
						<a href="#"><img src="assets/img/logo1.png" alt=""></a>
					</div>				
				</div>
			</div>
			<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h6>Collection</h6>
					<ul>
						<li><a href="men">Men</a></li>
						<li><a href="women">Women</a></li>
						<li><a href="accessories">Accessories</a></li>
						
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="footer__widget">
					<h6>Support</h6>
					<ul>
						<li><a href="#">Help Center</a></li>
						<li><a href="#">Shipping & Returns</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
				<div class="footer__widget">
					<h6>Follow Us</h6>
					<div class="footer__newslatter">
						
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="footer__copyright__text">
					
					<p> © PEPPER ST</p>
					
				</div>
			</div>
		</div>
	</div>
  </footer>