
<section class="banner spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 offset-lg-4">
              <div class="banner__item">
                  <div class="banner__item__pic">
                      <img src="assets/img/banner/men_banner.jpg" alt="">
                  </div>
                  <div class="banner__item__text">
                      <h2>Men Collection</h2>
                      <a href="men">Shop now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-5">
              <div class="banner__item banner__item--middle">
                  <div class="banner__item__pic">
                      <img src="assets/img/banner/women_banner.jpg" alt="">
                  </div>
                  <div class="banner__item__text">
                      <h2>Women Collection</h2>
                      <a href="women">Shop now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-7">
              <div class="banner__item banner__item--last">
                  <div class="banner__item__pic">
                      <img src="assets/img/banner/accessories_banner.jpg" alt="">
                  </div>
                  <div class="banner__item__text">
                      <h2>Accessories Collection</h2>
                      <a href="accessories">Shop now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



<section class="categories spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="categories__text">
                  <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="categories__hot__deal">
                  <img src="assets/img/product-sale.png" alt="">
                  <div class="hot__deal__sticker">
                      <span>Sale Of</span>
                      <h5>$29.99</h5>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 offset-lg-1">
              <div class="categories__deal__countdown">
                  <span>Deal Of The Week</span>
                  <h2>Multi-pocket Chest Bag Black</h2>
                  <div class="categories__deal__countdown__timer" id="countdown">
                      <div class="cd-item">
                          <span>3</span>
                          <p>Days</p>
                      </div>
                      <div class="cd-item">
                          <span>1</span>
                          <p>Hours</p>
                      </div>
                      <div class="cd-item">
                          <span>50</span>
                          <p>Minutes</p>
                      </div>
                      <div class="cd-item">
                          <span>18</span>
                          <p>Seconds</p>
                      </div>
                  </div>
                  <a href="#" class="primary-btn">Shop now</a>
              </div>
          </div>
      </div>
  </div>
</section>



<section class="instagram spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="instagram__pic">
                  <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/instagram-1.jpg');"></div>
                  <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/instagram-2.jpg');"></div>
                  <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/instagram-3.jpg');"></div>
                  <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/instagram-4.jpg');"></div>
                  <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/instagram-5.jpg');"></div>
                  <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/instagram-6.jpg');"></div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="instagram__text">
                  <h2>Instagram</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.</p>
                  <h3>#PepperST_Men</h3>
              </div>
          </div>
      </div>
  </div>
</section>

<br>
<br>
<br>
<br>

